@tailwind base;
@tailwind components;
@tailwind utilities;

.input-home{
    @apply h-[3.5rem] w-full rounded-md border border-white ps-3 bg-[#0000007d];
}
.input-form{
    @apply w-full border border-black rounded-[5px];
    padding: 1.25rem 1rem 0.25rem;
}
#form-home input::placeholder{
    color: #ffffffb3;
    font-weight: 600;
}
#regform label.active, #login-form label.active{
    @apply top-0 text-sm cursor-default;
}

@media screen and (min-width: 1550px){
    .desktop-width{
        max-width: 1550px;
        width: 100%;
        margin: 0 auto;
    }
}

 .bg-gradient{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  }